<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.data.relationdb.organization.dao.MOrganizationMapper">
  <resultMap id="BaseResultMap" type="com.multi.data.relationdb.organization.MOrganization">
    <id column="org_id" jdbcType="BIGINT" property="id" />
    <result column="org_name" jdbcType="VARCHAR" property="name" />
    <result column="org_priority" jdbcType="TINYINT" property="priority" />
    <result column="org_parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="org_root_path" jdbcType="VARCHAR" property="rootPath" />
    <result column="org_status" jdbcType="TINYINT" property="status" />
    <result column="org_number" jdbcType="VARCHAR" property="number" />
    <result column="org_creator" jdbcType="VARCHAR" property="creator" />
    <result column="org_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="org_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    org.id as org_id, org.name as org_name, org.priority as org_priority, org.parent_id as org_parent_id, 
    org.root_path as org_root_path, org.status as org_status, org.number as org_number, 
    org.creator as org_creator, org.create_time as org_create_time, org.update_time as org_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from multi_demo_organization org
    where org.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from multi_demo_organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.multi.data.relationdb.organization.MOrganization">
    insert into multi_demo_organization (id, name, priority,
      parent_id, root_path, status, 
      number, creator, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{priority,jdbcType=TINYINT},
      #{parentId,jdbcType=BIGINT}, #{rootPath,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{number,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.multi.data.relationdb.organization.MOrganization">
    insert into multi_demo_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="rootPath != null">
        root_path,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="rootPath != null">
        #{rootPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multi.data.relationdb.organization.MOrganization">
    update multi_demo_organization
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="rootPath != null">
        root_path = #{rootPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multi.data.relationdb.organization.MOrganization">
    update multi_demo_organization
    set name = #{name,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=TINYINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      root_path = #{rootPath,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      number = #{number,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>